version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: biasguard-postgres
    restart: always
    environment:
      POSTGRES_DB: biasguard
      POSTGRES_USER: testUser
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: quay.io/minio/minio:latest
    container_name: biasguard-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: biasguard-app
    depends_on:
      - postgres
      - minio
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://biasguard-postgres:5432/biasguard
      SPRING_DATASOURCE_USERNAME: biasguard
      SPRING_DATASOURCE_PASSWORD: biasguard

      MINIO_URL: http://biasguard-minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: biasguard-resumes

    restart: always

volumes:
  postgres_data:
  minio_data:
